body {
  font-size: 18px;
  color: white;
  background-color: black;

}

header {

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  position: relative;

  margin: 0 auto;


  justify-content: center;

}

.container {
  width: 960px;
}

.banner-container {
  height: 25rem;
}

.logo {
  width: 100%;
  display: flex;
  
  background-color: black;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  margin: 0 auto;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  text-align: center;
  margin: 0.66rem 0;
  font-family: Helvetica;
  font-size: 1rem;
}

.banner {
  height: 25rem;
}
.new-arrival {
  position: relative;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
}

.new-arrival h3 {
  margin-top: 2rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.new-arrival h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

nav span {
    display: inline-block;

    text-align: center;
    padding: 0.75rem 0;
    font-family: Helvetica;
    font-size: 1rem;
    color: white;
}
